<div class="row">
    <div class="col-md-3">
        <partial name="_SideNavBar" />
    </div>
    <div class="col-md-9">
        <h4>Confirmation link to change email sent. Please check your email.</h4>
    </div>
</div>