@model IdentityRole
<h2>Create Details</h2>
<form>
    <div asp-validation-summary="All"></div>
    <div class="py-2">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" readonly/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>
<a class="bg-primary text-light p-2 text-decoration-none mt-3" asp-controller="Role" asp-action="Index">Back To Index</a>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}